/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.google {
  width: 30%;
  margin-top: 60px;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
  box-shadow: black;
  padding: 20px;
}
.search-icon {
  width: 30px;
  margin-right: 20px;
}
.search-input {
  border: 0px;
  outline: none;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
